                                                                        @media screen and (max-width:1199px) {
                                                                        .content_box .search {
                                                                            right: 22% !important;
                                                                        }
                                                                        .search {
                                                                            right: 23% !important;
                                                                        }
                                                                    }
                                                                    
                                                                    @media screen and (max-width:1024px) {
                                                                        .search {
                                                                            right: 23% !important;
                                                                        }
                                                                        .btn-group-set {
                                                                            float: right;
                                                                        }
                                                                    }
                                                                    
                                                                    @media screen and (max-width:991px) {
                                                                        .search {
                                                                            right: 30% !important;
                                                                        }
                                                                    }
                                                                    
                                                                    @media screen and (max-width:767px) {
                                                                        .search {
                                                                            right: 70% !important;
                                                                            top: 30px !important;
                                                                        }
                                                                        .list-content .table-responsive {
                                                                            border: none;
                                                                        }
                                                                        .list-content .table-responsive {
                                                                            border: none;
                                                                        }
                                                                        .time-date-set {
                                                                            float: left;
                                                                            margin-top: 10px;
                                                                            width: 100%;
                                                                        }
                                                                        .cen-mob {
                                                                            text-align: center;
                                                                        }
                                                                        .btn-upload {
                                                                            padding-bottom: 15px !important;
                                                                        }
                                                                        .btn-group-set {
                                                                            float: left !important;
                                                                            margin-top: 10px;
                                                                        }
                                                                        .form-inline input[type="text"] {
                                                                            margin: 10px 0;
                                                                        }
                                                                        @media screen and (max-width:640px) {
                                                                            .search {
                                                                                left: 0 !important;
                                                                                float: left;
                                                                                position: inherit !important;
                                                                                right: 0 !important;
                                                                                top: 0 !important;
                                                                                width: 100% !important;
                                                                            }
                                                                            .xs-marg {
                                                                                margin-left: 33.33%;
                                                                            }
                                                                        }
                                                                        @media screen and (max-width:481px) {
                                                                            .search button {
                                                                                padding: 6px 7px !important;
                                                                            }
                                                                            .p-check {
                                                                                margin-left: 0 !important;
                                                                                margin-top: 10px;
                                                                                width: 100%;
                                                                            }
                                                                            .content_box h1 {
                                                                                font-size: 18px !important;
                                                                            }
                                                                            .btn-group-set {
                                                                                float: left;
                                                                                width: 100%;
                                                                                margin-top: 10px;
                                                                            }
                                                                            .create-btn {
                                                                                margin-left: 10px !important;
                                                                                margin-top: 0 !important;
                                                                                font-size: 12px;
                                                                            }
                                                                        }
                                                                        @media screen and (max-width:320px) {
                                                                            .content_box .search {
                                                                                right: 87% !important;
                                                                                top: 32px !important;
                                                                            }
                                                                            .content_box .btn {
                                                                                font-size: 12px;
                                                                                padding: 5px 9px;
                                                                            }
                                                                        }
                                                                        /*-- input-file --*/
                                                                        .js .inputfile {
                                                                            width: 0.1px;
                                                                            height: 0.1px;
                                                                            opacity: 0;
                                                                            overflow: hidden;
                                                                            position: absolute;
                                                                            z-index: -1;
                                                                        }
                                                                        .inputfile + label {
                                                                            max-width: 80%;
                                                                            font-size: 1.25rem;
                                                                            /* 20px */
                                                                            font-weight: 700;
                                                                            text-overflow: ellipsis;
                                                                            white-space: nowrap;
                                                                            cursor: pointer;
                                                                            display: inline-block;
                                                                            overflow: hidden;
                                                                            padding: 0.625rem 1.25rem;
                                                                            /* 10px 20px */
                                                                        }
                                                                        .no-js .inputfile + label {
                                                                            display: none;
                                                                        }
                                                                        .inputfile:focus + label,
                                                                        .inputfile.has-focus + label {
                                                                            outline: 1px dotted #000;
                                                                            outline: -webkit-focus-ring-color auto 5px;
                                                                        }
                                                                        .inputfile + label * {
                                                                            /* pointer-events: none; */
                                                                            /* in case of FastClick lib use */
                                                                        }
                                                                        .inputfile + label svg {
                                                                            width: 1em;
                                                                            height: 1em;
                                                                            vertical-align: middle;
                                                                            fill: currentColor;
                                                                            margin-top: -0.25em;
                                                                            /* 4px */
                                                                            margin-right: 0.25em;
                                                                            /* 4px */
                                                                        }